### Mounting Colab To Drive

In [726]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

### Importing the necessary libraries

In [727]:
import pandas as pd

### Reading The Datasets

1) spg-report2019 dataset

In [728]:
schools_df = pd.read_csv('/content/drive/Shared drives/Data Science for All - Empowerment/education-data-analysis-project/spg-report2019_final.csv')
schools_df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   reporting_year lea_code  ... use_3yr use_alt_weight
0            2019       10  ...     NaN            NaN
1            2019       10  ...     NaN            NaN
2            2019       10  ...     NaN            NaN
3            2019       10  ...     NaN            NaN
4            2019       10  ...     NaN            NaN

[5 rows x 39 columns]

In [729]:
schools_df = pd.read_csv('/content/drive/Shared drives/Data Science for All - Empowerment/education-data-analysis-project/spg-report2019_final.csv')
schools_df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   reporting_year lea_code  ... use_3yr use_alt_weight
0            2019       10  ...     NaN            NaN
1            2019       10  ...     NaN            NaN
2            2019       10  ...     NaN            NaN
3            2019       10  ...     NaN            NaN
4            2019       10  ...     NaN            NaN

[5 rows x 39 columns]

In [730]:
schools_df.shape

(26540, 39)

In [731]:
schools_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26540 entries, 0 to 26539
Data columns (total 39 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   reporting_year  26540 non-null  int64
 1   lea_code        26540 non-null  object
 2   lea_name        26540 non-null  object
 3   school_code     26540 non-null  object
 4   school_name     26540 non-null  object
 5   sbe_region      26540 non-null  object
 6   grade_span      26540 non-null  object
 7   title_1         14920 non-null  object
 8   missed_days     26540 non-null  float64
 9   subgroup        26540 non-null  object
 10  spg_grade       26510 non-null  object
 11  spg_score       16333 non-null  float64
 12  ach_score       16059 non-null  float64
 13  eg_score        14382 non-null  float64
 14  eg_status       14382 non-null  object
 15  eg_index        14382 non-null  float64
 16  rd_spg_grade    2105 non-null   object
 17  rd_spg_score    1997 non-null   float64
 18  rdgs_ach_score  1997 non-null   object
 19  rd_eg_score     1994 non-null   float64
 20  rd_eg_status    1994 non-null   object
 21  rd_eg_index     1994 non-null   float64
 22  ma_spg_grade    2105 non-null   object
 23  ma_spg_score    1997 non-null   float64
 24  mags_ach_score  1997 non-null   object
 25  ma_eg_score     1964 non-null   float64
 26  ma_eg_status    1964 non-null   object
 27  ma_eg_index     1964 non-null   float64
 28  aaa_score       16037 non-null  object
 29  scgs_score      6072 non-null   object
 30  elp_score       2221 non-null   object
 31  cgrs_score      2122 non-null   object
 32  bi_score        2087 non-null   object
 33  awa_score       1797 non-null   object
 34  mcr_score       1967 non-null   object
 35  asm_option      940 non-null    object
 36  k2_feeder       390 non-null    float64
 37  use_3yr         150 non-null    object
 38  use_alt_weight  21 non-null     object
dtypes: float64(12), int64(1), object(26)
memory usage: 7.9+ MB

In [732]:
schools_df.isna().sum()

reporting_year        0
lea_code              0
lea_name              0
school_code           0
school_name           0
sbe_region            0
grade_span            0
title_1           11620
missed_days           0
subgroup              0
spg_grade            30
spg_score         10207
ach_score         10481
eg_score          12158
eg_status         12158
eg_index          12158
rd_spg_grade      24435
rd_spg_score      24543
rdgs_ach_score    24543
rd_eg_score       24546
rd_eg_status      24546
rd_eg_index       24546
ma_spg_grade      24435
ma_spg_score      24543
mags_ach_score    24543
ma_eg_score       24576
ma_eg_status      24576
ma_eg_index       24576
aaa_score         10503
scgs_score        20468
elp_score         24319
cgrs_score        24418
bi_score          24453
awa_score         24743
mcr_score         24573
asm_option        25600
k2_feeder         26150
use_3yr           26390
use_alt_weight    26519
dtype: int64

2) 2019-2020 SAT Dataset

In [733]:
sat_df = pd.read_csv('/content/drive/Shared drives/Data Science for All - Empowerment/education-data-analysis-project/satleasch2020_09212020.csv')
sat_df.head(30)

   Unnamed: 0          School System &School  ...  ERW  Math
0         NaN                            NaN  ...  520   510
1         NaN                            NaN  ...  548   540
2         NaN                            NaN  ...  702   725
3         NaN                            NaN  ...  609   569
4          10   Alamance-Burlington Schools   ...  517   518
5          10                            303  ...  572   580
6          10                            324  ...  535   544
7          10                            348  ...  464   455
8          10                            360  ...  476   480
9          10                            388  ...  514   514
10         10                            396  ...  516   514
11         10                            400  ...  547   547
12         20      Alexander County Schools   ...  543   540
13         20                            302  ...  534   528
14         20                            303  ...  567   574
15         30      Alleghany County Schools   ...  515   532
16         30                            304  ...  515   532
17         40          Anson County Schools   ...  482   466
18         40                            304  ...  519   505
19         40                            306  ...  457   440
20         50           Ashe County Schools   ...  564   534
21         50                            302  ...  564   534
22         60          Avery County Schools   ...  543   524
23         60                            302  ...  543   524
24         70       Beaufort County Schools   ...  528   520
25         70                            311  ...  618   593
26         70                            330  ...  556   571
27         70                            339  ...  495   507
28         70                            342  ...  507   493
29         80         Bertie County Schools   ...  454   434

[30 rows x 10 columns]

In [734]:
sat_df.shape

(702, 10)

In [735]:
sat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             698 non-null    object
 1   School System &School  698 non-null    object
 2   Unnamed: 2             520 non-null    object
 3   Unnamed: 3             0 non-null      float64
 4   Unnamed: 4             0 non-null      float64
 5   # Tested               702 non-null    object
 6   % Tested               700 non-null    object
 7   Total                  702 non-null    object
 8   ERW                    702 non-null    object
 9   Math                   702 non-null    object
dtypes: float64(2), object(8)
memory usage: 55.0+ KB

In [736]:
sat_df.isna().sum()

Unnamed: 0                 4
School System &School      4
Unnamed: 2               182
Unnamed: 3               702
Unnamed: 4               702
# Tested                   0
% Tested                   2
Total                      0
ERW                        0
Math                       0
dtype: int64

3) 2019-2020 AST Dataset

In [737]:
ast_df = pd.read_excel('/content/drive/Shared drives/Data Science for All - Empowerment/education-data-analysis-project/actgrads2019-2020_10122020.xlsx')
ast_df.head(15)

   Unnamed: 0 Unnamed: 1  ... % Met Science Benchmark  % Met All Four Benchmarks
0         NaN        NaN  ...                      36                         26
1         NaN        NaN  ...                      27                         18
2         NaN        NaN  ...                      25                         17
3         NaN        NaN  ...                     >95                        >95
4         NaN        NaN  ...                      71                         55
5         010        010  ...                      19                         10
6         010     010303  ...                      58                         37
7         010     010324  ...                      21                         11
8         010     010348  ...                       8                         <5
9         010     010360  ...                       5                         <5
10        010     010378  ...                       *                          *
11        010     010388  ...                      19                          9
12        010     010396  ...                      18                         10
13        010     010400  ...                      24                         16
14        020        020  ...                      21                         13

[15 rows x 14 columns]

In [738]:
ast_df.shape

(766, 14)

In [739]:
ast_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 766 entries, 0 to 765
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 761 non-null    object
 1   Unnamed: 1                 760 non-null    object
 2   School System & School     692 non-null    object
 3    # tested                  765 non-null    float64
 4   Average Composite Score    765 non-null    object
 5   Average English Score      765 non-null    object
 6   % Met English Benchmark    765 non-null    object
 7   Average Math Score         765 non-null    object
 8   % Met Math Benchmark       765 non-null    object
 9   Average Reading Score      765 non-null    object
 10  % Met Reading Benchmark    765 non-null    object
 11  Average Science Score      765 non-null    object
 12  % Met Science Benchmark    765 non-null    object
 13  % Met All Four Benchmarks  765 non-null    object
dtypes: float64(1), object(13)
memory usage: 83.9+ KB

In [740]:
ast_df.isna().sum()

Unnamed: 0                    5
Unnamed: 1                    6
School System & School       74
 # tested                     1
Average Composite Score       1
Average English Score         1
% Met English Benchmark       1
Average Math Score            1
% Met Math Benchmark          1
Average Reading Score         1
% Met Reading Benchmark       1
Average Science Score         1
% Met Science Benchmark       1
% Met All Four Benchmarks     1
dtype: int64

# Data Cleaning

### AST Dataset Cleaning

Removing top 3 rows

In [741]:
ast_df = ast_df.iloc[3:]

In [742]:
ast_df.head()

  Unnamed: 0 Unnamed: 1  ... % Met Science Benchmark  % Met All Four Benchmarks
3        NaN        NaN  ...                     >95                        >95
4        NaN        NaN  ...                      71                         55
5        010        010  ...                      19                         10
6        010     010303  ...                      58                         37
7        010     010324  ...                      21                         11

[5 rows x 14 columns]

Changing data types of columns to float

In [743]:
ast_df = ast_df.apply(lambda x: str(x).replace('>95', '95'))
ast_df = ast_df.apply(lambda x: str(x).replace('<5', '5'))
ast_df = ast_df.apply(lambda x: str(x).replace('*', '0'))
ast_df = ast_df.apply(lambda x: str(x).replace('nan', '999'))
ast_df = ast_df.apply(lambda x: str(x).replace('      .', '0'))

In [744]:

columns_to_float = [' # tested', 'Average Composite Score', 'Average English Score','% Met English Benchmark', 'Average Math Score', '% Met Math Benchmark',
                    'Average Reading Score', '% Met Reading Benchmark', 'Average Science Score ', '% Met Science Benchmark', '% Met All Four Benchmarks']
for column in columns_to_float:
  ast_df[column] = pd.to_numeric(ast_df[column], errors='coerce')

### SAT Dataset Cleaning

In [745]:
sat_df = sat_df.iloc[2:]

In [746]:
sat_df.columns

Index(['Unnamed: 0', 'School System &School', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', '# Tested', '% Tested', 'Total', 'ERW', 'Math'],
      dtype='object')

In [747]:
sat_df['# Tested'] = sat_df['# Tested'].apply(lambda x: str(x).replace('<10', '10'))

In [748]:
sat_df['# Tested'] = pd.to_numeric(sat_df['# Tested'], errors='coerce')

In [749]:
sat_df = sat_df.drop('Unnamed: 3', axis = 1) 
sat_df = sat_df.drop('Unnamed: 4', axis = 1)

### Schools_df dataset cleaning

In [750]:
schools_df.describe(percentiles=[.1, .25, .50, .75, .90, .99])

       reporting_year   missed_days  ...  ma_eg_index      k2_feeder
count         26540.0  26540.000000  ...  1964.000000     390.000000
mean           2019.0      3.297965  ...    -0.023544  481013.153846
std               0.0      4.578953  ...     3.902765  228706.250867
min            2019.0      0.000000  ...   -16.860000   70327.000000
10%            2019.0      0.000000  ...    -4.830000  140392.000000
25%            2019.0      0.000000  ...    -2.312500  260430.000000
50%            2019.0      2.000000  ...     0.055000  550349.000000
75%            2019.0      3.000000  ...     2.400000  640328.000000
90%            2019.0      9.000000  ...     4.537000  740404.000000
99%            2019.0     20.000000  ...     9.671100  960318.000000
max            2019.0     26.500000  ...    16.600000  960318.000000

[11 rows x 13 columns]

Dropping unnecessary columns

In [751]:
columns_to_drop = ['asm_option', 'k2_feeder', 'use_3yr', 'use_alt_weight', 'scgs_score', 'reporting_year' ]
schools_df = schools_df.drop(columns_to_drop, axis = 1)

Features to drop:
grade_span: We focus on the high schools so we drop the other schools from grade_span column.

In [752]:
schools_df.grade_span.unique()

array(['09-13', 'PK-05', '0K-05', '06-08', '09-12', '0K-12', '09-11',
       'PK-08', '07-12', '0K-03', '04-05', '09-10', '07-08', '0K-06',
       'PK-06', '06-12', '09-09', 'PK-01', '0K-08', '05-08', 'PK-04',
       '02-03', '0K-04', '11-13', '05-06', '02-04', '0K-01', 'PK-03',
       '06-07', '11-12', 'PK-12', '0K-02', '03-05', 'PK-02', '04-06',
       '02-05', '01-05', 'PK-0K', 'UN-GR', '06-10', '04-09', '03-12',
       '04-08', '08-12', '08-13', '06-13', '07-13', '0K-07', 'PK-13',
       '0K-13', 'PK-07', '06-06', '10-12', 'PK-09', '06-09', '04-12',
       '01-12', '05-12', '01-08', '0K-11', '0K-09', '05-09', '03-08'],
      dtype=object)

In [753]:
grade_span_to_drop = ['01-05','01-08','02-03','02-04','02-05','03-05','03-08','04-05','04-06','04-08',
                      '04-09','05-06','05-08','05-09','06-06','06-07','06-08','06-09','06-10','07-08',
                      '09-09','09-10','09-11','0K-01','0K-02','0K-03','0K-04','0K-05','0K-06','0K-07',
                      '0K-08','0K-09','0K-11','PK-01','PK-02','PK-03','PK-04','PK-05','PK-06','PK-07',
                      'PK-08','PK-09','PK-0K','UN-GR']

schools_df = schools_df[~schools_df['grade_span'].isin(grade_span_to_drop)]

In [754]:
schools_df.shape

(6600, 33)

In [755]:
schools_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6600 entries, 0 to 26539
Data columns (total 33 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   lea_code        6600 non-null   object
 1   lea_name        6600 non-null   object
 2   school_code     6600 non-null   object
 3   school_name     6600 non-null   object
 4   sbe_region      6600 non-null   object
 5   grade_span      6600 non-null   object
 6   title_1         1140 non-null   object
 7   missed_days     6600 non-null   float64
 8   subgroup        6600 non-null   object
 9   spg_grade       6570 non-null   object
 10  spg_score       3165 non-null   float64
 11  ach_score       3165 non-null   float64
 12  eg_score        2880 non-null   float64
 13  eg_status       2880 non-null   object
 14  eg_index        2880 non-null   float64
 15  rd_spg_grade    174 non-null    object
 16  rd_spg_score    81 non-null     float64
 17  rdgs_ach_score  81 non-null     object
 18  rd_eg_score     79 non-null     float64
 19  rd_eg_status    79 non-null     object
 20  rd_eg_index     79 non-null     float64
 21  ma_spg_grade    174 non-null    object
 22  ma_spg_score    81 non-null     float64
 23  mags_ach_score  81 non-null     object
 24  ma_eg_score     78 non-null     float64
 25  ma_eg_status    78 non-null     object
 26  ma_eg_index     78 non-null     float64
 27  aaa_score       3143 non-null   object
 28  elp_score       140 non-null    object
 29  cgrs_score      2122 non-null   object
 30  bi_score        2059 non-null   object
 31  awa_score       1797 non-null   object
 32  mcr_score       1967 non-null   object
dtypes: float64(11), object(22)
memory usage: 1.7+ MB

In [756]:
schools_df.isna().sum()

lea_code             0
lea_name             0
school_code          0
school_name          0
sbe_region           0
grade_span           0
title_1           5460
missed_days          0
subgroup             0
spg_grade           30
spg_score         3435
ach_score         3435
eg_score          3720
eg_status         3720
eg_index          3720
rd_spg_grade      6426
rd_spg_score      6519
rdgs_ach_score    6519
rd_eg_score       6521
rd_eg_status      6521
rd_eg_index       6521
ma_spg_grade      6426
ma_spg_score      6519
mags_ach_score    6519
ma_eg_score       6522
ma_eg_status      6522
ma_eg_index       6522
aaa_score         3457
elp_score         6460
cgrs_score        4478
bi_score          4541
awa_score         4803
mcr_score         4633
dtype: int64

In [757]:
schools_df.columns

Index(['lea_code', 'lea_name', 'school_code', 'school_name', 'sbe_region',
       'grade_span', 'title_1', 'missed_days', 'subgroup', 'spg_grade',
       'spg_score', 'ach_score', 'eg_score', 'eg_status', 'eg_index',
       'rd_spg_grade', 'rd_spg_score', 'rdgs_ach_score', 'rd_eg_score',
       'rd_eg_status', 'rd_eg_index', 'ma_spg_grade', 'ma_spg_score',
       'mags_ach_score', 'ma_eg_score', 'ma_eg_status', 'ma_eg_index',
       'aaa_score', 'elp_score', 'cgrs_score', 'bi_score', 'awa_score',
       'mcr_score'],
      dtype='object')

In [758]:
columns_to_numeric = ['elp_score', 'cgrs_score', 'bi_score', 'awa_score', 'mcr_score']
for column in columns_to_numeric:

  schools_df[column] = schools_df[column].apply(lambda x: str(x).replace('<5', '5'))
  schools_df[column] = schools_df[column].apply(lambda x: str(x).replace('nan', '999'))

In [759]:
# schools_df['elp_score'] = schools_df['elp_score'].apply(lambda x: str(x).replace('nan', '999'))
# schools_df['cgrs_score'] = schools_df['cgrs_score'].apply(lambda x: str(x).replace('nan', '999'))
# schools_df['bi_score'] = schools_df['bi_score'].apply(lambda x: str(x).replace('nan', '999'))
# schools_df['awa_score'] = schools_df['awa_score'].apply(lambda x: str(x).replace('nan', '999'))
# schools_df['mcr_score'] = schools_df['mcr_score'].apply(lambda x: str(x).replace('nan', '999'))

# schools_df['elp_score'] = schools_df['elp_score'].apply(lambda x: str(x).replace('<5', '5'))
# schools_df['cgrs_score'] = schools_df['cgrs_score'].apply(lambda x: str(x).replace('<5', '5'))
# schools_df['bi_score'] = schools_df['bi_score'].apply(lambda x: str(x).replace('<5', '5'))
# schools_df['awa_score'] = schools_df['awa_score'].apply(lambda x: str(x).replace('<5', '5'))
# schools_df['mcr_score'] = schools_df['mcr_score'].apply(lambda x: str(x).replace('<5', '5'))

In [760]:
for column in columns_to_numeric:
  schools_df[column] = pd.to_numeric(schools_df[column], errors='coerce')

In [761]:
schools_df['title_1'] = schools_df['title_1'].apply(lambda x: str(x).replace('nan', 'N'))
schools_df['spg_grade'] = schools_df['spg_grade'].apply(lambda x: str(x).replace('nan', 'I'))
schools_df['spg_score'] = schools_df['spg_score'].apply(lambda x: str(x).replace('nan', '999'))
schools_df['ach_score'] = schools_df['ach_score'].apply(lambda x: str(x).replace('nan', '999'))
schools_df['eg_score'] = schools_df['eg_score'].apply(lambda x: str(x).replace('nan', '999'))
schools_df['eg_status'] = schools_df['eg_status'].apply(lambda x: str(x).replace('nan', 'insuff_data'))
schools_df['eg_index'] = schools_df['eg_index'].apply(lambda x: str(x).replace('nan', '50.'))

In [762]:
schools_df_all = schools_df[schools_df['subgroup'].isin(['ALL'])]

In [763]:

schools_df_all.shape

(660, 33)

In [764]:
schools_df_all.isna().sum()

lea_code            0
lea_name            0
school_code         0
school_name         0
sbe_region          0
grade_span          0
title_1             0
missed_days         0
subgroup            0
spg_grade           0
spg_score           0
ach_score           0
eg_score            0
eg_status           0
eg_index            0
rd_spg_grade      486
rd_spg_score      579
rdgs_ach_score    579
rd_eg_score       581
rd_eg_status      581
rd_eg_index       581
ma_spg_grade      486
ma_spg_score      579
mags_ach_score    579
ma_eg_score       582
ma_eg_status      582
ma_eg_index       582
aaa_score         103
elp_score           0
cgrs_score        139
bi_score           34
awa_score          32
mcr_score         264
dtype: int64

In [765]:
schools_df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 660 entries, 0 to 26530
Data columns (total 33 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   lea_code        660 non-null    object
 1   lea_name        660 non-null    object
 2   school_code     660 non-null    object
 3   school_name     660 non-null    object
 4   sbe_region      660 non-null    object
 5   grade_span      660 non-null    object
 6   title_1         660 non-null    object
 7   missed_days     660 non-null    float64
 8   subgroup        660 non-null    object
 9   spg_grade       660 non-null    object
 10  spg_score       660 non-null    object
 11  ach_score       660 non-null    object
 12  eg_score        660 non-null    object
 13  eg_status       660 non-null    object
 14  eg_index        660 non-null    object
 15  rd_spg_grade    174 non-null    object
 16  rd_spg_score    81 non-null     float64
 17  rdgs_ach_score  81 non-null     object
 18  rd_eg_score     79 non-null     float64
 19  rd_eg_status    79 non-null     object
 20  rd_eg_index     79 non-null     float64
 21  ma_spg_grade    174 non-null    object
 22  ma_spg_score    81 non-null     float64
 23  mags_ach_score  81 non-null     object
 24  ma_eg_score     78 non-null     float64
 25  ma_eg_status    78 non-null     object
 26  ma_eg_index     78 non-null     float64
 27  aaa_score       557 non-null    object
 28  elp_score       660 non-null    float64
 29  cgrs_score      521 non-null    float64
 30  bi_score        626 non-null    float64
 31  awa_score       628 non-null    float64
 32  mcr_score       396 non-null    float64
dtypes: float64(12), object(21)
memory usage: 175.3+ KB

In [766]:
schools_df_all.rd_spg_grade.unique()

array([nan, 'ALT', 'I', 'C', 'B', 'D', 'F', 'A'], dtype=object)