In [61]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [62]:
import pandas as pd

In [63]:
schools_df = pd.read_csv('/content/drive/Shared drives/Data Science for All - Empowerment/education-data-analysis-project/spg-report2019_final.csv')
schools_df.head(30)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

    reporting_year lea_code  ... use_3yr use_alt_weight
0             2019       10  ...     NaN            NaN
1             2019       10  ...     NaN            NaN
2             2019       10  ...     NaN            NaN
3             2019       10  ...     NaN            NaN
4             2019       10  ...     NaN            NaN
5             2019       10  ...     NaN            NaN
6             2019       10  ...     NaN            NaN
7             2019       10  ...     NaN            NaN
8             2019       10  ...     NaN            NaN
9             2019       10  ...     NaN            NaN
10            2019       10  ...     NaN            NaN
11            2019       10  ...     NaN            NaN
12            2019       10  ...     NaN            NaN
13            2019       10  ...     NaN            NaN
14            2019       10  ...     NaN            NaN
15            2019       10  ...     NaN            NaN
16            2019       10  ...     NaN            NaN
17            2019       10  ...     NaN            NaN
18            2019       10  ...     NaN            NaN
19            2019       10  ...     NaN            NaN
20            2019       10  ...     NaN            NaN
21            2019       10  ...     NaN            NaN
22            2019       10  ...     NaN            NaN
23            2019       10  ...     NaN            NaN
24            2019       10  ...     NaN            NaN
25            2019       10  ...     NaN            NaN
26            2019       10  ...     NaN            NaN
27            2019       10  ...     NaN            NaN
28            2019       10  ...     NaN            NaN
29            2019       10  ...     NaN            NaN

[30 rows x 39 columns]

In [64]:
schools_df.shape

(26540, 39)

In [65]:
schools_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26540 entries, 0 to 26539
Data columns (total 39 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   reporting_year  26540 non-null  int64
 1   lea_code        26540 non-null  object
 2   lea_name        26540 non-null  object
 3   school_code     26540 non-null  object
 4   school_name     26540 non-null  object
 5   sbe_region      26540 non-null  object
 6   grade_span      26540 non-null  object
 7   title_1         14920 non-null  object
 8   missed_days     26540 non-null  float64
 9   subgroup        26540 non-null  object
 10  spg_grade       26510 non-null  object
 11  spg_score       16333 non-null  float64
 12  ach_score       16059 non-null  float64
 13  eg_score        14382 non-null  float64
 14  eg_status       14382 non-null  object
 15  eg_index        14382 non-null  float64
 16  rd_spg_grade    2105 non-null   object
 17  rd_spg_score    1997 non-null   float64
 18  rdgs_ach_score  1997 non-null   object
 19  rd_eg_score     1994 non-null   float64
 20  rd_eg_status    1994 non-null   object
 21  rd_eg_index     1994 non-null   float64
 22  ma_spg_grade    2105 non-null   object
 23  ma_spg_score    1997 non-null   float64
 24  mags_ach_score  1997 non-null   object
 25  ma_eg_score     1964 non-null   float64
 26  ma_eg_status    1964 non-null   object
 27  ma_eg_index     1964 non-null   float64
 28  aaa_score       16037 non-null  object
 29  scgs_score      6072 non-null   object
 30  elp_score       2221 non-null   object
 31  cgrs_score      2122 non-null   object
 32  bi_score        2087 non-null   object
 33  awa_score       1797 non-null   object
 34  mcr_score       1967 non-null   object
 35  asm_option      940 non-null    object
 36  k2_feeder       390 non-null    float64
 37  use_3yr         150 non-null    object
 38  use_alt_weight  21 non-null     object
dtypes: float64(12), int64(1), object(26)
memory usage: 7.9+ MB

In [66]:
schools_df.isna().sum()

reporting_year        0
lea_code              0
lea_name              0
school_code           0
school_name           0
sbe_region            0
grade_span            0
title_1           11620
missed_days           0
subgroup              0
spg_grade            30
spg_score         10207
ach_score         10481
eg_score          12158
eg_status         12158
eg_index          12158
rd_spg_grade      24435
rd_spg_score      24543
rdgs_ach_score    24543
rd_eg_score       24546
rd_eg_status      24546
rd_eg_index       24546
ma_spg_grade      24435
ma_spg_score      24543
mags_ach_score    24543
ma_eg_score       24576
ma_eg_status      24576
ma_eg_index       24576
aaa_score         10503
scgs_score        20468
elp_score         24319
cgrs_score        24418
bi_score          24453
awa_score         24743
mcr_score         24573
asm_option        25600
k2_feeder         26150
use_3yr           26390
use_alt_weight    26519
dtype: int64

In [67]:
for column in list(schools_df.columns):
    print(column, 100*'-','\n', schools_df[column].unique())

reporting_year ----------------------------------------------------------------------------------------------------
 [2019]
lea_code ----------------------------------------------------------------------------------------------------
 [10 20 30 40 50 60 70 80 90 100 110 111 120 130 132 140 150 160 170 180
 181 182 190 200 210 220 230 240 241 250 260 270 280 290 291 292 295 298
 300 310 320 330 340 350 360 370 380 390 400 410 420 421 422 430 440 450
 460 470 480 490 491 500 510 520 530 540 550 560 570 580 590 600 610 620
 630 640 650 660 670 '670' '680' '681' '690' '700' '710' '720' '730' '740'
 '750' '760' '761' '770' '780' '790' '800' '810' '820' '821' '830' '840'
 '850' '860' '861' '862' '870' '880' '890' '900' '910' '920' '930' '940'
 '950' '960' '970' '980' '990' '995' '34Z' '50Z' '65Z' '74Z' '79Z' '94Z'
 '00A' '00B' '01B' '01C' '01D' '06A' '06B' '07A' '08A' '09A' '09B' '10A'
 '10B' '11A' '11B' '11C' '11D' '11K' '12A' '13A' '13B' '13C' '13D' '16B'
 '19A' '19B' '19C' '20A' '23A' '24B' '24N' '26B' '26C' '27A' '29A' '32A'
 '32B' '32C' '32D' '32H' '32K' '32L' '32M' '32N' '32P' '32Q' '32R' '32S'
 '33A' '34B' '34D' '34F' '34G' '34H' '35A' '35B' '36B' '36C' '39A' '39B'
 '41B' '41C' '41D' '41F' '41G' '41H' '41J' '41K' '41L' '41M' '41N' '42A'
 '43C' '44A' '45A' '45B' '49B' '49D' '49E' '49F' '49G' '50A' '51A' '51B'
 '53B' '54A' '55A' '58B' '60B' '60D' '60F' '60G' '60I' '60J' '60K' '60L'
 '60M' '60N' '60P' '60Q' '60S' '60U' '60V' '60Y' '61J' '61K' '61L' '61M'
 '61N' '61P' '61Q' '61R' '61S' '61T' '61U' '61W' '61X' '63A' '63B' '63C'
 '64A' '65A' '65B' '65C' '65D' '65F' '65G' '66A' '67B' '68A' '68C' '69A'
 '70A' '73A' '73B' '74B' '74C' '76A' '78A' '78B' '79A' '80B' '81A' '81B'
 '84B' '86T' '87A' '88A' '90A' '90B' '90C' '91A' '91B' '92B' '92D' '92E'
 '92F' '92G' '92K' '92L' '92M' '92N' '92P' '92Q' '92R' '92S' '92T' '92U'
 '92V' '92W' '92Y' '93A' '93J' '93L' '93M' '93N' '93P' '93R' '95A' '96C'
 '96F' '97D' '98A' '98B']
lea_name ----------------------------------------------------------------------------------------------------
 ['Alamance-Burlington Schools' 'Alexander County Schools'
 'Alleghany County Schools' 'Anson County Schools' 'Ashe County Schools'
 'Avery County Schools' 'Beaufort County Schools' 'Bertie County Schools'
 'Bladen County Schools' 'Brunswick County Schools'
 'Buncombe County Schools' 'Asheville City Schools' 'Burke County Schools'
 'Cabarrus County Schools' 'Kannapolis City Schools'
 'Caldwell County Schools' 'Camden County Schools'
 'Carteret County Public Schools' 'Caswell County Schools'
 'Catawba County Schools' 'Hickory City Schools'
 'Newton Conover City Schools' 'Chatham County Schools'
 'Cherokee County Schools' 'Edenton-Chowan Schools' 'Clay County Schools'
 'Cleveland County Schools' 'Columbus County Schools'
 'Whiteville City Schools' 'Craven County Schools'
 'Cumberland County Schools' 'Currituck County Schools'
 'Dare County Schools' 'Davidson County Schools' 'Lexington City Schools'
 'Thomasville City Schools' 'Innovative School District'
 'Deaf and Blind Schools' 'Davie County Schools' 'Duplin County Schools'
 'Durham Public Schools' 'Edgecombe County Public School'
 'Forsyth County Schools' 'Franklin County Schools'
 'Gaston County Schools' 'Gates County Schools' 'Graham County Schools'
 'Granville County Schools' 'Greene County Schools'
 'Guilford County Schools' 'Halifax County Schools'
 'Roanoke Rapids City Schools' 'Weldon City Schools'
 'Harnett County Schools' 'Haywood County Schools'
 'Henderson County Schools' 'Hertford County Schools'
 'Hoke County Schools' 'Hyde County Schools' 'Iredell-Statesville Schools'
 'Mooresville City Schools' 'Jackson County Schools'
 'Johnston County Schools' 'Jones County Schools' 'Lee County Schools'
 'Lenoir County Public Schools' 'Lincoln County Schools'
 'Macon County Schools' 'Madison County Schools' 'Martin County Schools'
 'McDowell County Schools' 'Charlotte-Mecklenburg Schools'
 'Mitchell County Schools' 'Montgomery County Schools'
 'Moore County Schools' 'Nash-Rocky Mount Schools'
 'New Hanover County Schools' 'Northampton County Schools'
 'Onslow County Schools' 'Orange County Schools'
 'Chapel Hill-Carrboro Schools' 'Pamlico County Schools'
 'Pasquotank County Schools' 'Pender County Schools'
 'Perquimans County Schools' 'Person County Schools' 'Pitt County Schools'
 'Polk County Schools' 'Randolph County Schools' 'Asheboro City Schools'
 'Richmond County Schools' 'Robeson County Schools'
 'Rockingham County Schools' 'Rowan-Salisbury Schools'
 'Rutherford County Schools' 'Sampson County Schools'
 'Clinton City Schools' 'Scotland County Schools' 'Stanly County Schools'
 'Stokes County Schools' 'Surry County Schools' 'Elkin City Schools'
 'Mount Airy City Schools' 'Swain County Schools'
 'Transylvania County Schools' 'Tyrrell County Schools'
 'Union County Public Schools' 'Vance County Schools'
 'Wake County Schools' 'Warren County Schools' 'Washington County Schools'
 'Watauga County Schools' 'Wayne County Public Schools'
 'Wilkes County Schools' 'Wilson County Schools' 'Yadkin County Schools'
 'Yancey County Schools' 'Lab Schools' 'Regional Schools'
 'Charter Schools']
school_code ----------------------------------------------------------------------------------------------------
 [10303 10304 10308 ... '97D000' '98A000' '98B000']
school_name ----------------------------------------------------------------------------------------------------
 ['ABSS Early College at ACC' 'Alexander Wilson Elementary'
 'Altamahaw-Ossipee Elementary' ... 'Bridges Academy'
 'Sallie B Howard School' 'Wilson Preparatory Academy']
sbe_region ----------------------------------------------------------------------------------------------------
 ['Piedmont-Triad' 'Northwest' 'Southwest' 'Northeast' 'Sandhills'
 'Southeast' 'Western' 'North Central' 'Virtual']
grade_span ----------------------------------------------------------------------------------------------------
 ['09-13' 'PK-05' '0K-05' '06-08' '09-12' '0K-12' '09-11' 'PK-08' '07-12'
 '0K-03' '04-05' '09-10' '07-08' '0K-06' 'PK-06' '06-12' '09-09' 'PK-01'
 '0K-08' '05-08' 'PK-04' '02-03' '0K-04' '11-13' '05-06' '02-04' '0K-01'
 'PK-03' '06-07' '11-12' 'PK-12' '0K-02' '03-05' 'PK-02' '04-06' '02-05'
 '01-05' 'PK-0K' 'UN-GR' '06-10' '04-09' '03-12' '04-08' '08-12' '08-13'
 '06-13' '07-13' '0K-07' 'PK-13' '0K-13' 'PK-07' '06-06' '10-12' 'PK-09'
 '06-09' '04-12' '01-12' '05-12' '01-08' '0K-11' '0K-09' '05-09' '03-08']
title_1 ----------------------------------------------------------------------------------------------------
 [nan 'Y']
missed_days ----------------------------------------------------------------------------------------------------
 [ 1.   0.   7.   3.  13.  15.   2.  14.  17.   4.  10.   9.   8.  16.
 11.   5.   0.6  0.7  6.  20.  12.   1.5 18.5 26.5 24.5 19.  18.   3.5]
subgroup ----------------------------------------------------------------------------------------------------
 ['ALL' 'AMIN' 'ASIA' 'BLCK' 'HISP' 'MULT' 'WHTE' 'EDS' 'ELS' 'SWD']
spg_grade ----------------------------------------------------------------------------------------------------
 ['A' 'I' 'B' 'C' 'D' 'F' 'ALT' nan]
spg_score ----------------------------------------------------------------------------------------------------
 [ 88.  nan  71.  78.  63.  61.  56.  72.  66.  51.  57.  12.  67.  41.
  75.  54.  42.  25.  34.  28.  38.  40.  43.  30.  22.  70.  82.  58.
  76.  55.  48.  29.  53.  62.  52.  26.  59.  36.  35.  44.  39.  49.
  47.  45.  65.  60.  73.  46.  19.  50.  13.  32.  27.  37.  31.  23.
  69.  68.  80.  18.  77.  33.  24.  64.  81.  74.  83.  87.  79.  84.
  14.  97.  96.  20.  21.  16.   3.  17.  98.  92.  85.  89.  93.  99.
  91.  95.  94.  90.   7.  86.  10.   8.  15.   0.   9.   5.   6.   2.
 100.  11.   4.]
ach_score ----------------------------------------------------------------------------------------------------
 [ 90.4   nan  70.6  90.6  77.4  59.7  57.1  48.9  71.9  64.5  43.6  50.
  11.9  62.5  31.6  49.2  72.4  47.1  31.5  11.5  28.9  19.1  33.3  30.4
  36.6  23.1  26.3   9.8  69.3  83.3  52.8  51.1  77.1  41.4  17.1  68.2
  46.6  74.4  45.1  26.1  68.1  55.5  62.3  52.6  74.7  52.7  25.   25.9
  37.7  32.2  41.5  39.1  31.8  36.   15.4  71.1  14.9  59.4  38.7  44.6
  60.   69.8  44.4  37.6  18.8  45.6  32.6  53.3  32.3  24.1  12.5  56.7
  39.6  46.4  61.1  63.9  46.3  44.   24.4  51.3  42.7  43.9  48.1  20.
  16.7  33.7  24.5  35.3  27.1  43.   31.2  24.   39.5  27.2  49.   28.4
  47.2   7.6  69.9  88.1  61.7  65.6  63.6  76.   59.8  52.1  34.5  42.2
  30.   34.1  35.8  18.   39.8  32.   41.1  41.9  27.7  40.2  13.5  34.9
  34.   43.2  26.5  13.2  53.8  53.5  49.3  53.9  68.5  52.2  66.7  80.3
  52.9  45.3  32.1  45.4  61.8  43.3  37.8  45.8   8.3  50.2  47.5  32.4
  49.1   9.6  57.6  19.2  71.2  60.5  57.9  61.3  80.   54.2  23.9  67.7
  61.4  70.5  54.4  25.5  63.4  54.7  41.2  48.2  38.9  11.8  45.5  36.1
  48.   35.5  13.3  43.7  80.8  27.5  35.7  65.   29.1  55.8  69.4  71.
  81.9  60.1  56.3  75.4  48.5   3.6  64.3  47.6  51.6  47.8  18.2  66.5
  51.7  45.7  81.3  51.8  17.6  36.4  87.2  90.   72.7  66.6  64.9  55.6
  27.8  60.7  40.8  56.9  54.5  27.6  69.   70.7  36.5  56.   34.8  62.
  19.6  22.5  63.5  65.9  57.4  35.4  72.5  75.   75.6  68.8  76.1  52.3
  70.3  70.   59.5  55.3  73.3  61.2  71.6  71.4  66.1  66.8  56.4  69.1
  62.1  79.   78.7  66.3  54.9  41.8  59.2  46.2  21.   70.8  42.1  67.2
  20.2  67.5  44.7  82.5  29.4  52.   30.9  14.3  20.7  18.5  58.4  67.1
  51.4  22.9  38.3  34.4  78.2  63.7  84.6  62.2  42.6  26.   26.6   0.
  69.2  37.9  95.   94.4  75.9  73.6  75.5  70.1  56.8  24.2  73.9  40.6
  71.8  64.2  64.1  30.8  65.1  68.4  79.1  79.8  58.9  26.7  46.   17.9
  72.8  77.   63.1  48.7  29.7  64.6  60.2  40.7  28.8  50.9  97.   96.9
  10.5  27.3  97.5  98.9  57.3  38.8  63.8  68.9  47.   47.3  67.3  78.1
  81.7  61.9  51.2  42.   68.   46.1  38.2  55.   43.8  75.7  50.8  31.7
  47.9  40.   20.8  27.9   5.6  56.2  46.8  67.9  43.4  53.   20.1  65.3
  59.6  49.4  57.7  87.5  77.3  45.9  48.6  42.3  12.   53.1  42.9  44.8
  21.1   8.5  54.   40.5  48.3  47.7  12.1  52.4  15.6  54.3  41.3  46.9
  58.2  78.6  19.4  39.7  37.   64.4  56.5  60.3   3.2  42.5  14.7  10.3
  32.7  39.   31.   31.3  43.1  36.3   9.5  68.3   2.6  39.4  50.7  65.4
  99.1  99.4  99.3  53.7  35.9  45.   53.2  38.6  40.1  64.   21.6  59.3
  34.6  17.5  35.2  58.7   6.7  61.6  76.9  29.9  56.6  71.3  55.9  18.6
  29.   60.6  63.2  26.4  47.4   8.9  63.3  68.6  37.5  36.8  58.3  36.7
  73.1  77.9  66.   29.5  87.   69.7  92.   81.8  44.3  59.9  37.2  49.5
  66.2  14.4  72.1  77.8  83.1  64.7  74.2  35.   67.   28.   62.8  84.1
  86.3  72.6  86.9  89.   92.7  46.7  40.4  15.2  27.4  61.5  65.2  23.
  31.4  22.1  43.5  33.8  14.5  77.5  79.9  72.3  57.2  23.3  20.5  80.4
  67.6  75.8  70.9  73.4  58.1  30.7  61.   62.6  50.5  74.1  58.5  74.
  25.4  79.6  26.8  44.9  28.3  34.3  73.7  60.4  23.8  57.   34.2  50.1
  51.   64.8   9.7  65.8  37.4  15.7  31.1  74.8  83.6  30.6  14.8  76.2
  11.1  74.6  53.6  77.6  29.6  22.4  38.5  39.3  99.7  99.8  97.9  51.5
  83.5  20.3  45.2  70.4  81.   89.9  41.   65.7  21.3  19.7  52.5  17.3
  85.3  46.5  86.6  85.5  93.7  99.   99.2  75.1  78.3  60.9  77.7  69.6
  25.7  74.3  27.   62.7  76.7  29.2  67.4  28.1  63.   71.7  15.9  62.4
  72.9  10.8  54.8  44.2  49.6  58.8  23.2  40.9  21.7  82.1  14.6  29.3
  73.   75.3  28.6   9.9  54.1  86.7  94.7  80.1  89.4  71.5  62.9  49.7
  15.5  78.4  38.4  42.4  98.4  18.1  85.2  15.   85.7  57.8  14.   86.8
  95.8  92.1  88.9  24.3  83.4  93.5  72.   78.5  76.5  57.5  24.8  73.5
  59.1  44.5  72.2  49.9  28.5  28.2  22.    7.1  20.9  79.2  66.9  16.9
  97.3  87.9  93.6  79.5  85.1  83.8  19.   32.5  36.2  28.7   7.4  50.3
  50.6  95.3  97.1  86.   35.6  81.2  92.5  91.7  80.6  25.2  55.4  32.9
  26.9  20.4  37.3  36.9  87.1  60.8  94.8  96.   92.8   5.8  48.8  41.7
  18.3  65.5  51.9  14.1  44.1  35.1  53.4  86.5  89.8  58.6  22.2  79.3
  73.2  79.7  83.7  76.8  84.8  85.   76.3  82.6  87.8  30.3  59.   69.5
  86.2  84.   74.5  19.9  74.9  78.   50.4  67.8  22.6  92.3  97.4  98.7
  95.4  17.4  15.3  31.9  80.2  70.2  56.1  21.4  19.3  19.5  37.1  12.8
  55.7  29.8  33.6  17.   58.   21.2  13.   33.   85.8  95.5  95.7  21.9
  25.6  13.1   3.1   6.8  73.8  82.2   2.9  78.8  84.7   9.4  84.3  38.1
  11.6  90.2  89.7  84.9  16.4  76.4  22.7  18.4  13.9  92.9  95.2  88.5
  76.6  11.4  49.8  55.1  25.8  16.1  66.4  26.2  68.7  79.4  82.   78.9
  89.5  91.2  39.9  88.6  88.7  16.3  13.7   4.3   6.   81.5  48.4  16.
  55.2  18.9  93.8  11.7  90.5  97.6  96.3   8.4  40.3  88.2  42.8   5.5
  80.5  12.3  82.7  11.    8.2  82.8  91.1  10.   15.8  13.6  80.9  10.9
 100.   34.7   8.7  81.6  32.8   9.3  38.   13.4  95.6  95.1   8.8  12.7
  20.6  25.3  83.   33.5  77.2  24.7  93.3  93.   21.8  82.3  30.1  30.5
  54.6  91.3  81.1   4.2  17.8  90.7  33.9  75.2   6.4   7.3  23.6  17.2
  98.6  96.4   5.2  12.9  94.5  90.3  87.7  92.4  84.4  33.2   5.3  39.2
  41.6  30.2  94.6  10.7  10.6  87.6  91.6  23.4   6.3  33.1  12.2   2.
  94.2  82.9  90.1  23.7  94.1  94.9  19.8   4.1   4.5   2.4  16.8  85.4
  88.3  91.8   6.1   2.5   6.9   3.   84.2  11.3   7.7  16.5   5.4   4.8
  97.7  14.2  81.4  84.5  80.7   8.   99.5  22.3   3.3  33.4   8.1   6.5
  25.1   9.1  95.9  97.8  93.9   7.8  89.6  16.2  88.4  82.4   7.5  87.3
  85.9  89.1  87.4  96.5   9.2  94.   93.2  90.8   9.    4.7   5.   24.6
  97.2  88.   86.1  98.8  86.4  96.7  96.6   5.1  88.8   5.7  13.8  21.5
  18.7  91.9  10.4   7.9   8.6  89.2   4.    2.8  96.2   1.9   5.9  91.4
  24.9   3.7  98.   98.3  94.3  92.2  92.6  91.    7.   83.9  96.8   1.8
  23.5  22.8   3.9   6.2   4.9  93.4  93.1  90.9   1.6  85.6  98.2  15.1
   1.7  10.2   2.2   1.5  96.1  83.2  89.3   4.4   1.4  98.1  99.6  16.6
   2.7   3.4  11.2  98.5   1.    3.8   7.2  12.4]
eg_score ----------------------------------------------------------------------------------------------------
 [ 80.3   nan  79.6  81.7  76.6  75.9  83.6  73.4  78.2  84.9  84.   80.5
  82.9  83.7  81.6  82.3  81.4  55.7  62.1  57.7  80.6  70.2  56.6  66.1
  70.1  73.1  78.8  77.7  71.5  73.2  76.4  77.6  75.6  76.8  81.9  75.8
  64.5  71.2  83.3  75.4  62.8  67.1  71.4  70.6  67.2  78.4  68.7  83.2
  79.2  87.8  90.1  86.7  85.1  88.7  81.1  87.7  81.8  81.5  67.5  74.5
  69.6  70.3  80.1  72.8  79.5  73.9  72.   75.3  72.3  69.   78.9  80.2
  52.3  59.1  58.   58.3  51.8  59.2  73.6  86.2  84.3  80.8 100.   86.6
  95.7  95.6  97.2  94.6  90.7  78.7  80.9  74.6  78.6  82.5  76.1  69.4
  75.1  74.1  74.4  77.9  77.   81.2  77.1  68.   68.8  61.6  58.8  72.9
  85.4  84.6  67.4  74.8  76.7  66.2  76.   71.7  70.9  78.3  71.3  78.
  69.8  90.3  86.1  89.5  86.8  85.3  72.6  77.8  89.2  88.9  83.5  84.1
  83.9  56.8  72.5  61.9  62.4  57.1  96.2  90.6  65.9  75.2  69.3  61.1
  79.9  77.5  70.8  80.7  82.2  82.6  74.2  72.4  67.7  84.5  79.1  71.8
  66.7  74.3  77.2  79.8  80.4  84.7  81.3  83.   66.4  81.   83.1  87.6
  88.3  68.6  89.1  88.6  86.9  86.4  57.9  62.7  60.4  70.5  82.7  82.4
  52.4  54.4  69.7  73.3  55.5  68.1  87.2  85.   90.4  88.1  73.8  69.2
  51.5  69.9  51.   53.3  57.8  61.7  63.3  84.2  88.4  92.   91.6  85.6
  87.   89.7  85.8  95.1  92.5  94.2  89.4  91.5  91.9  91.2  88.8  83.8
  79.7  86.   58.9  91.1  90.2  56.9  64.3  59.7  79.3  90.   85.9  58.1
  59.8  59.6  59.   80.   77.4  71.6  79.4  67.3  67.   82.1  64.7  72.2
  69.5  73.7  74.   59.4  65.6  72.7  56.5  57.5  77.3  86.5  83.4  74.9
  60.5  60.1  74.7  73.5  71.1  84.8  78.1  73.   82.   58.6  62.5  75.5
  64.   71.   90.8  87.9  92.2  90.5  87.3  61.8  65.5  67.9  66.   62.9
  66.9  54.1  54.6  87.4  84.4  68.5  63.6  66.8  91.3  60.7  63.5  69.1
  76.3  76.5  68.3  79.   65.3  70.   94.3  93.5  82.8  71.9  57.3  93.9
  63.9  63.7  91.   98.6  96.1  67.8  76.9  75.   66.3  76.2  64.9  85.2
  66.5  60.3  59.3  85.5  87.1  93.7  65.   68.9  60.6  92.7  91.7  89.9
  88.   95.5  92.1  85.7  78.5  75.7  93.2  68.2  61.3  93.   99.1  89.3
  93.4  91.4  86.3  61.2  64.1  97.9  94.5  87.5  92.3  97.3  90.9  88.2
  99.9  93.1  53.2  65.4  54.8  60.8  58.2  54.7  66.6  65.7  61.5  63.8
  98.4  88.5  93.8  72.1  97.4  96.4  89.   61.4  93.6  92.6  55.4  65.1
  56.2  67.6  54.9  56.   65.2  61.   64.6  58.4  89.8  92.4  56.3  57.4
  70.7  95.2  89.6  65.8  70.4  68.4  50.   50.1  50.2  94.   58.7  63.
  57.2  59.9  52.7  58.5  64.2  59.5  52.9  62.   52.2  55.1  51.2  54.2
  64.8  53.9  55.6  56.7  93.3  63.4  55.8  91.8  50.3  60.9  60.2  63.1
  63.2  95.8  94.9  52.8  94.8  95.   92.8  54.3  55.2  55.3  57.6  96.7
  98.5  95.9  94.4  92.9  96.5  62.6  98.7  64.4  62.3  62.2  57.   55.
  56.1  53.7  96.   99.   50.8  53.4  56.4  52.5  60.   51.3  50.6  51.7
  53.8  97.   99.2  50.4  95.4  96.3  99.5  98.8  95.3  94.7  53.6  97.1
  53.1  52.   54.   53.   55.9  51.4  50.5  96.9  98.2  96.6  98.9  99.7
  96.8  51.6  54.5  52.6]
eg_status ----------------------------------------------------------------------------------------------------
 ['Met' nan 'NotMet' 'Exceeded']
eg_index ----------------------------------------------------------------------------------------------------
 [ 0.15   nan -0.07 ... -4.67 -5.06 -7.56]
rd_spg_grade ----------------------------------------------------------------------------------------------------
 [nan 'C' 'D' 'F' 'B' 'ALT' 'I' 'A']
rd_spg_score ----------------------------------------------------------------------------------------------------
 [nan 61. 62. 41. 63. 64. 40. 68. 49. 56. 36. 42. 67. 46. 39. 72. 45. 54.
 51. 48. 52. 58. 70. 74. 60. 38. 55. 78. 35. 77. 71. 79. 66. 69. 53. 50.
 57. 47. 65. 43. 83. 59. 76. 75. 73. 80. 85. 82. 44. 32. 81. 30. 34. 33.
 29. 84. 31. 37. 88. 28. 86. 94. 93. 87. 26. 27. 90. 15. 91. 89. 92. 22.
 23. 21. 25. 95.]
rdgs_ach_score ----------------------------------------------------------------------------------------------------
 [nan '55.6' '56.7' '32.9' '62.7' '61.1' '32.1' '64.6' '56.5' '44.1' '52.9'
 '31' '33.6' '60.1' '36.5' '38.2' '29.8' '70.2' '37' '49.4' '45.2' '41.3'
 '64.1' '57.5' '42.8' '46.6' '59.6' '58.4' '62.6' '54.6' '47.2' '57.4'
 '65' '69.2' '63.7' '66.4' '56.6' '71.3' '53.9' '63.9' '41.2' '25.9'
 '48.2' '38' '75.6' '26.2' '72.8' '67.9' '66.8' '69.1' '77.8' '52.4'
 '68.7' '60.2' '58' '53.4' '63' '54' '66.3' '50.2' '56' '46.1' '47.3'
 '42.2' '51.6' '43.3' '43.9' '45.3' '53.5' '61.9' '39.6' '46.3' '44.4'
 '37.3' '43.4' '59.5' '59.2' '48.1' '35.3' '58.5' '53' '63.1' '67.5'
 '82.2' '56.1' '54.5' '61' '53.8' '62.4' '71.4' '59' '57' '45.1' '44.3'
 '64.7' '75' '65.2' '68.1' '32.3' '61.8' '65.3' '67.6' '61.2' '55.1' '45'
 '50' '62.9' '74.2' '53.2' '58.2' '49' '56.3' '75.2' '70.7' '62.2' '68.8'
 '72.4' '67.8' '58.9' '66.1' '57.6' '70.1' '47' '55.3' '58.1' '69.9'
 '68.9' '44.8' '54.9' '60.4' '61.3' '38.7' '79' '56.4' '84.1' '80.2'
 '62.1' '66.6' '42.9' '45.5' '65.1' '60.6' '41.1' '40.7' '42.1' '70.3'
 '78.8' '62' '50.6' '41.5' '50.8' '48.8' '69' '67.1' '55.9' '49.6' '63.2'
 '69.8' '60.5' '64' '56.2' '68.4' '66' '41.9' '53.6' '81.5' '71.2' '64.4'
 '79.5' '78.3' '72.5' '73.5' '77.2' '71.9' '66.2' '70.8' '59.9' '52'
 '63.6' '60.8' '53.3' '58.3' '59.1' '74.8' '54.7' '74.5' '49.3' '64.5'
 '50.7' '56.8' '55.8' '54.4' '51.4' '45.8' '76.3' '59.3' '46.9' '65.4'
 '73.6' '78' '61.7' '64.9' '45.6' '66.7' '65.8' '54.8' '55.2' '48.6'
 '62.3' '65.7' '41.7' '55.7' '27.5' '47.7' '53.1' '60.7' '68.2' '56.9'
 '46' '47.4' '61.4' '44.2' '48.3' '72' '43.5' '34.3' '67.4' '72.1' '76'
 '60.9' '76.4' '28' '35.2' '40' '83.3' '52.6' '40.2' '48.9' '51.9' '74.6'
 '36.7' '36.2' '59.8' '49.9' '46.7' '40.9' '58.8' '44.7' '49.1' '42'
 '39.7' '67.3' '49.2' '43.6' '48.4' '36.4' '43.7' '75.5' '73.8' '37.8'
 '22.7' '74.1' '48' '43.8' '55' '64.2' '80' '72.3' '67' '68.3' '67.7'
 '46.8' '51.2' '44.5' '70' '39.9' '48.5' '30.4' '34' '20.6' '51.5' '50.9'
 '71.1' '76.1' '52.2' '51.7' '43.2' '52.3' '58.6' '33.2' '34.7' '39.1'
 '59.4' '26.3' '55.5' '32.8' '75.7' '49.8' '25.8' '68.5' '80.6' '29.4'

In [68]:
for column in list(schools_df.columns):
    print(column, 100*'-','\n', schools_df[column].value_counts())

reporting_year ----------------------------------------------------------------------------------------------------
 2019    26540
Name: reporting_year, dtype: int64
lea_code ----------------------------------------------------------------------------------------------------
 920    1870
600    1750
410    1250
260     870
340     790
       ...
35B      10
63B      10
76A      10
78A      10
09B      10
Name: lea_code, Length: 308, dtype: int64
lea_name ----------------------------------------------------------------------------------------------------
 Wake County Schools              1870
Charter Schools                  1840
Charlotte-Mecklenburg Schools    1750
Guilford County Schools          1250
Cumberland County Schools         870
                                 ...
Hyde County Schools                30
Tyrrell County Schools             30
Graham County Schools              30
Innovative School District         10
Regional Schools                   10
Name: lea_name, Length: 120, dtype: int64
school_code ----------------------------------------------------------------------------------------------------
 610302    10
640328    10
840303    10
640324    10
830349    10
          ..
19C000    10
670304    10
360448    10
670308     6
670308     4
Name: school_code, Length: 2655, dtype: int64
school_name ----------------------------------------------------------------------------------------------------
 Central Elementary        70
Union Elementary          60
Fairview Elementary       50
New Hope Elementary       40
Southwest Elementary      40
                          ..
G W Bulluck Elementary    10
Newland Elementary        10
Don D Steed Elementary    10
Stanley Middle            10
B F Grady Elementary      10
Name: school_name, Length: 2554, dtype: int64
sbe_region ----------------------------------------------------------------------------------------------------
 North Central     5830
Southwest         5380
Piedmont-Triad    4500
Sandhills         2720
Southeast         2510
Northwest         1940
Western           1900
Northeast         1740
Virtual             20
Name: sbe_region, dtype: int64
grade_span ----------------------------------------------------------------------------------------------------
 PK-05    7660
06-08    4170
09-12    4090
0K-05    3300
0K-08     890
         ...
06-06      10
01-08      10
0K-13      10
05-12      10
04-09      10
Name: grade_span, Length: 63, dtype: int64
title_1 ----------------------------------------------------------------------------------------------------
 Y    14920
Name: title_1, dtype: int64
missed_days ----------------------------------------------------------------------------------------------------
 0.0     7010
2.0     6450
1.0     3830
3.0     2490
7.0     1510
5.0      720
10.0     610
6.0      520
18.0     400
8.0      390
4.0      370
0.6      320
13.0     320
9.0      260
15.0     220
18.5     210
17.0     170
20.0     170
12.0     160
14.0      90
1.5       70
26.5      60
19.0      60
24.5      60
0.7       30
16.0      20
3.5       10
11.0      10
Name: missed_days, dtype: int64
subgroup ----------------------------------------------------------------------------------------------------
 EDS     2654
ASIA    2654
ELS     2654
ALL     2654
SWD     2654
BLCK    2654
WHTE    2654
HISP    2654
MULT    2654
AMIN    2654
Name: subgroup, dtype: int64
spg_grade ----------------------------------------------------------------------------------------------------
 I      9237
C      5083
D      4640
B      2876
F      2787
A       947
ALT     940
Name: spg_grade, dtype: int64
spg_score ----------------------------------------------------------------------------------------------------
 50.0    418
53.0    387
61.0    387
57.0    382
62.0    373
       ...
12.0      6
2.0       3
4.0       3
8.0       2
5.0       2
Name: spg_score, Length: 100, dtype: int64
ach_score ----------------------------------------------------------------------------------------------------
 50.0    217
33.3     78
75.0     69
25.0     67
62.5     65
       ...
92.8      1
7.2       1
4.9       1
1.8       1
1.6       1
Name: ach_score, Length: 979, dtype: int64
eg_score ----------------------------------------------------------------------------------------------------
 80.0    145
81.1    140
80.3    127
81.7    119
80.4    117
       ...
96.1      1
96.9      1
99.5      1
51.0      1
51.6      1
Name: eg_score, Length: 483, dtype: int64
eg_status ----------------------------------------------------------------------------------------------------
 Met         9157
Exceeded    2674
NotMet      2551
Name: eg_status, dtype: int64
eg_index ----------------------------------------------------------------------------------------------------
  0.00     46
 0.38     44
-0.35     40
 0.13     40
 0.44     39
          ..
 8.48      1
 5.30      1
-13.58     1
 4.33      1
 7.04      1
Name: eg_index, Length: 1522, dtype: int64
rd_spg_grade ----------------------------------------------------------------------------------------------------
 C      887
D      519
B      440
F      100
ALT     88
A       51
I       20
Name: rd_spg_grade, dtype: int64
rd_spg_score ----------------------------------------------------------------------------------------------------
 58.0    72
64.0    72
60.0    72
56.0    64
61.0    63
        ..
28.0     1
27.0     1
25.0     1
94.0     1
15.0     1
Name: rd_spg_score, Length: 75, dtype: int64
rdgs_ach_score ----------------------------------------------------------------------------------------------------
 53.4    14
55.1    10
61.9    10
54.5    10
75.7    10
        ..
77.1     1
31.5     1
70.5     1
25.9     1
47.3     1
Name: rdgs_ach_score, Length: 609, dtype: int64
rd_eg_score ----------------------------------------------------------------------------------------------------
 80.0    25
80.7    24
84.4    19
81.2    18
82.5    17
        ..
95.4     1
67.8     1
96.3     1
95.6     1
63.6     1
Name: rd_eg_score, Length: 358, dtype: int64
rd_eg_status ----------------------------------------------------------------------------------------------------
 Met         1351
Exceeded     337
NotMet       306
Name: rd_eg_status, dtype: int64
rd_eg_index ----------------------------------------------------------------------------------------------------
 -0.76    9
-0.73    9
 0.31    9
-0.30    9
 0.55    8
        ..
 2.75    1
 2.25    1
 0.97    1
-2.82    1
-7.15    1
Name: rd_eg_index, Length: 783, dtype: int64
ma_spg_grade ----------------------------------------------------------------------------------------------------
 C      764
B      532
D      461
F      136
A      104
ALT     88
I       20
Name: ma_spg_grade, dtype: int64
ma_spg_score ----------------------------------------------------------------------------------------------------
 62.0    68
66.0    61
67.0    61
54.0    58
65.0    57
        ..
98.0     1
26.0     1
9.0      1
22.0     1
7.0      1
Name: ma_spg_score, Length: 83, dtype: int64
mags_ach_score ----------------------------------------------------------------------------------------------------
 57.8    11
63.9    11
64.8    10
61.3    10
66.7    10
        ..
36.7     1
95       1
23.8     1
91.6     1
94.9     1
Name: mags_ach_score, Length: 639, dtype: int64
ma_eg_score ----------------------------------------------------------------------------------------------------
 50.0     26
82.4     18
100.0    17
85.0     15
81.8     15
         ..
55.6      1
66.8      1
50.1      1
96.4      1
99.9      1
Name: ma_eg_score, Length: 442, dtype: int64
ma_eg_status ----------------------------------------------------------------------------------------------------
 Met         846
Exceeded    562
NotMet      556
Name: ma_eg_status, dtype: int64
ma_eg_index ----------------------------------------------------------------------------------------------------
  2.03     7
 0.68     7
 1.44     6
 0.74     6
-0.96     6
         ..
-4.47     1
-5.46     1
 6.02     1
-5.61     1
 12.00    1
Name: ma_eg_index, Length: 1056, dtype: int64
aaa_score ----------------------------------------------------------------------------------------------------
 50      232
>95     176
<5      110
33.3     87
25       82
       ...
79.9      1
93.5      1
91.9      1
6.4       1
94.5      1
Name: aaa_score, Length: 901, dtype: int64
scgs_score ----------------------------------------------------------------------------------------------------
 >95     291
66.7     63
75       57
80       55
50       49
       ...
41.1      1
42.7      1
61.6      1
23.1      1
27.3      1
Name: scgs_score, Length: 674, dtype: int64
elp_score ----------------------------------------------------------------------------------------------------
 <5      81
50      49
40      26
33.3    22
20      18
        ..
64       1
56.4     1
6.8      1
73.2     1
59.2     1
Name: elp_score, Length: 506, dtype: int64
cgrs_score ----------------------------------------------------------------------------------------------------
 >95     347
87.5     20
83.3     18
86.5     17
88.6     16
       ...
59.6      1
45.5      1
66.5      1
72        1
94.6      1
Name: cgrs_score, Length: 359, dtype: int64
bi_score ----------------------------------------------------------------------------------------------------
 >95     81
33.3    17
50      16
66.7    11
16.7     9
        ..
41.4     1
55.7     1
36.9     1
66.5     1
62.8     1
Name: bi_score, Length: 728, dtype: int64
awa_score ----------------------------------------------------------------------------------------------------
 >95     81
50      16
66.7    12
25      12
60      10
        ..
74.8     1
85.6     1
36.3     1
6.9      1
94.6     1
Name: awa_score, Length: 661, dtype: int64
mcr_score ----------------------------------------------------------------------------------------------------
 >95     747
94.9     25
94.4     23
94.3     23
93.3     22
       ...
63        1
59.7      1
38.6      1
55.3      1
63.9      1
Name: mcr_score, Length: 286, dtype: int64
asm_option ----------------------------------------------------------------------------------------------------
 B    770
C    170
Name: asm_option, dtype: int64
k2_feeder ----------------------------------------------------------------------------------------------------
 640326.0    20
360432.0    10
430376.0    10
241308.0    10
400332.0    10
600367.0    10
600349.0    10
862310.0    10
960318.0    10
430336.0    10
360332.0    10
430308.0    10
630356.0    10
630308.0    10
70327.0     10
140392.0    10
181332.0    10
690312.0    10
640328.0    10
640384.0    10
740386.0    10
740404.0    10
360320.0    10
720312.0    10
110428.0    10
620330.0    10
650338.0    10
130337.0    10
550349.0    10
260448.0    10
260430.0    10
260380.0    10
291352.0    10
260308.0    10
580312.0    10
210306.0    10
610310.0    10
821304.0    10
Name: k2_feeder, dtype: int64
use_3yr ----------------------------------------------------------------------------------------------------
 Y    150
Name: use_3yr, dtype: int64
use_alt_weight ----------------------------------------------------------------------------------------------------
 Y    21
Name: use_alt_weight, dtype: int64

In [69]:
schools_df.describe()

       reporting_year   missed_days  ...  ma_eg_index      k2_feeder
count         26540.0  26540.000000  ...  1964.000000     390.000000
mean           2019.0      3.297965  ...    -0.023544  481013.153846
std               0.0      4.578953  ...     3.902765  228706.250867
min            2019.0      0.000000  ...   -16.860000   70327.000000
25%            2019.0      0.000000  ...    -2.312500  260430.000000
50%            2019.0      2.000000  ...     0.055000  550349.000000
75%            2019.0      3.000000  ...     2.400000  640328.000000
max            2019.0     26.500000  ...    16.600000  960318.000000

[8 rows x 13 columns]

In [70]:
schools_df.describe(percentiles=[.1, .25, .50, .75, .90, .99])

       reporting_year   missed_days  ...  ma_eg_index      k2_feeder
count         26540.0  26540.000000  ...  1964.000000     390.000000
mean           2019.0      3.297965  ...    -0.023544  481013.153846
std               0.0      4.578953  ...     3.902765  228706.250867
min            2019.0      0.000000  ...   -16.860000   70327.000000
10%            2019.0      0.000000  ...    -4.830000  140392.000000
25%            2019.0      0.000000  ...    -2.312500  260430.000000
50%            2019.0      2.000000  ...     0.055000  550349.000000
75%            2019.0      3.000000  ...     2.400000  640328.000000
90%            2019.0      9.000000  ...     4.537000  740404.000000
99%            2019.0     20.000000  ...     9.671100  960318.000000
max            2019.0     26.500000  ...    16.600000  960318.000000

[11 rows x 13 columns]

In [71]:
schools_df.describe(include='all')

        reporting_year lea_code  ... use_3yr  use_alt_weight
count          26540.0    26540  ...     150              21
unique             NaN      308  ...       1               1
top                NaN      920  ...       Y               Y
freq               NaN     1870  ...     150              21
mean            2019.0      NaN  ...     NaN             NaN
std                0.0      NaN  ...     NaN             NaN
min             2019.0      NaN  ...     NaN             NaN
25%             2019.0      NaN  ...     NaN             NaN
50%             2019.0      NaN  ...     NaN             NaN
75%             2019.0      NaN  ...     NaN             NaN
max             2019.0      NaN  ...     NaN             NaN

[11 rows x 39 columns]

Features to drop:
grade_span: We focus on the high schools so we drop the other schools from grade_span column.

In [72]:
schools_df.grade_span.unique()

array(['09-13', 'PK-05', '0K-05', '06-08', '09-12', '0K-12', '09-11',
       'PK-08', '07-12', '0K-03', '04-05', '09-10', '07-08', '0K-06',
       'PK-06', '06-12', '09-09', 'PK-01', '0K-08', '05-08', 'PK-04',
       '02-03', '0K-04', '11-13', '05-06', '02-04', '0K-01', 'PK-03',
       '06-07', '11-12', 'PK-12', '0K-02', '03-05', 'PK-02', '04-06',
       '02-05', '01-05', 'PK-0K', 'UN-GR', '06-10', '04-09', '03-12',
       '04-08', '08-12', '08-13', '06-13', '07-13', '0K-07', 'PK-13',
       '0K-13', 'PK-07', '06-06', '10-12', 'PK-09', '06-09', '04-12',
       '01-12', '05-12', '01-08', '0K-11', '0K-09', '05-09', '03-08'],
      dtype=object)

In [73]:
grade_span_to_drop = ['PK-05', '0K-05', '06-08', 'PK-08', '0K-03', '04-05', '09-10', '07-08', 
                      '0K-06', 'PK-06', '09-09', 'PK-01', '0K-08', '05-08', 'PK-04', '02-03', 
                      '0K-04', '05-06', '02-04', '0K-01', 'PK-03', '06-07', '0K-02', '03-05', 
                      'PK-02', '04-06',  '02-05', '01-05', 'PK-0K', 'UN-GR', '06-10', '04-09', 
                      '03-12', '04-08', '0K-07', 'PK-07', '06-06', 'PK-09', '06-09',  '01-08', 
                      '0K-11', '0K-09', '05-09', '03-08']
schools_df = schools_df[~schools_df['grade_span'].isin(grade_span_to_drop)]
schools_df['grade_span'].value_counts()

09-12    4090
09-13     760
0K-12     630
06-12     550
PK-12     210
07-12      80
09-11      70
11-13      50
11-12      40
06-13      40
08-12      40
PK-13      20
10-12      10
08-13      10
01-12      10
04-12      10
07-13      10
05-12      10
0K-13      10
Name: grade_span, dtype: int64

In [74]:
schools_df.shape

(6650, 39)

In [75]:
schools_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6650 entries, 0 to 26539
Data columns (total 39 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   reporting_year  6650 non-null   int64
 1   lea_code        6650 non-null   object
 2   lea_name        6650 non-null   object
 3   school_code     6650 non-null   object
 4   school_name     6650 non-null   object
 5   sbe_region      6650 non-null   object
 6   grade_span      6650 non-null   object
 7   title_1         1130 non-null   object
 8   missed_days     6650 non-null   float64
 9   subgroup        6650 non-null   object
 10  spg_grade       6620 non-null   object
 11  spg_score       3189 non-null   float64
 12  ach_score       3189 non-null   float64
 13  eg_score        2903 non-null   float64
 14  eg_status       2903 non-null   object
 15  eg_index        2903 non-null   float64
 16  rd_spg_grade    172 non-null    object
 17  rd_spg_score    81 non-null     float64
 18  rdgs_ach_score  81 non-null     object
 19  rd_eg_score     79 non-null     float64
 20  rd_eg_status    79 non-null     object
 21  rd_eg_index     79 non-null     float64
 22  ma_spg_grade    172 non-null    object
 23  ma_spg_score    81 non-null     float64
 24  mags_ach_score  81 non-null     object
 25  ma_eg_score     78 non-null     float64
 26  ma_eg_status    78 non-null     object
 27  ma_eg_index     78 non-null     float64
 28  aaa_score       3167 non-null   object
 29  scgs_score      196 non-null    object
 30  elp_score       140 non-null    object
 31  cgrs_score      2122 non-null   object
 32  bi_score        2070 non-null   object
 33  awa_score       1797 non-null   object
 34  mcr_score       1967 non-null   object
 35  asm_option      820 non-null    object
 36  k2_feeder       0 non-null      float64
 37  use_3yr         90 non-null     object
 38  use_alt_weight  21 non-null     object
dtypes: float64(12), int64(1), object(26)
memory usage: 2.0+ MB

In [76]:
schools_df.isna().sum()

reporting_year       0
lea_code             0
lea_name             0
school_code          0
school_name          0
sbe_region           0
grade_span           0
title_1           5520
missed_days          0
subgroup             0
spg_grade           30
spg_score         3461
ach_score         3461
eg_score          3747
eg_status         3747
eg_index          3747
rd_spg_grade      6478
rd_spg_score      6569
rdgs_ach_score    6569
rd_eg_score       6571
rd_eg_status      6571
rd_eg_index       6571
ma_spg_grade      6478
ma_spg_score      6569
mags_ach_score    6569
ma_eg_score       6572
ma_eg_status      6572
ma_eg_index       6572
aaa_score         3483
scgs_score        6454
elp_score         6510
cgrs_score        4528
bi_score          4580
awa_score         4853
mcr_score         4683
asm_option        5830
k2_feeder         6650
use_3yr           6560
use_alt_weight    6629
dtype: int64

In [77]:
schools_df.columns

Index(['reporting_year', 'lea_code', 'lea_name', 'school_code', 'school_name',
       'sbe_region', 'grade_span', 'title_1', 'missed_days', 'subgroup',
       'spg_grade', 'spg_score', 'ach_score', 'eg_score', 'eg_status',
       'eg_index', 'rd_spg_grade', 'rd_spg_score', 'rdgs_ach_score',
       'rd_eg_score', 'rd_eg_status', 'rd_eg_index', 'ma_spg_grade',
       'ma_spg_score', 'mags_ach_score', 'ma_eg_score', 'ma_eg_status',
       'ma_eg_index', 'aaa_score', 'scgs_score', 'elp_score', 'cgrs_score',
       'bi_score', 'awa_score', 'mcr_score', 'asm_option', 'k2_feeder',
       'use_3yr', 'use_alt_weight'],
      dtype='object')

In [78]:
columns_to_drop = ['rd_spg_grade', 'rd_spg_score', 'rdgs_ach_score',
       'rd_eg_score', 'rd_eg_status', 'rd_eg_index', 'ma_spg_grade',
       'ma_spg_score', 'mags_ach_score', 'ma_eg_score', 'ma_eg_status',
       'ma_eg_index', 'aaa_score', 'scgs_score', 'elp_score', 'cgrs_score',
       'bi_score', 'awa_score', 'mcr_score', 'asm_option', 'k2_feeder',
       'use_3yr', 'use_alt_weight']

In [79]:
schools_df = schools_df.drop(schools_df.loc[:, 'rd_spg_grade':'use_alt_weight'].columns, axis = 1)

In [80]:
schools_df.shape

(6650, 16)

In [81]:
schools_df.isna().sum()

reporting_year       0
lea_code             0
lea_name             0
school_code          0
school_name          0
sbe_region           0
grade_span           0
title_1           5520
missed_days          0
subgroup             0
spg_grade           30
spg_score         3461
ach_score         3461
eg_score          3747
eg_status         3747
eg_index          3747
dtype: int64

In [82]:
schools_df.missed_days.unique()

array([ 1. ,  0. ,  7. ,  3. , 13. , 15. ,  2. ,  4. , 10. ,  8. , 14. ,
        9. ,  5. ,  0.7,  0.6, 17. ,  6. , 20. ,  1.5, 24.5, 18.5, 26.5,
       16. , 19. , 18. , 12. ])

In [83]:
schools_df.subgroup.unique()

array(['ALL', 'AMIN', 'ASIA', 'BLCK', 'HISP', 'MULT', 'WHTE', 'EDS',
       'ELS', 'SWD'], dtype=object)

In [84]:
schools_df_all = schools_df[schools_df['subgroup'].isin(['ALL'])]

In [85]:
schools_df_all.shape

(665, 16)

In [86]:
schools_df_all.isna().sum()

reporting_year      0
lea_code            0
lea_name            0
school_code         0
school_name         0
sbe_region          0
grade_span          0
title_1           552
missed_days         0
subgroup            0
spg_grade           3
spg_score          93
ach_score          93
eg_score          106
eg_status         106
eg_index          106
dtype: int64

In [88]:
schools_df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 665 entries, 0 to 26530
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   reporting_year  665 non-null    int64
 1   lea_code        665 non-null    object
 2   lea_name        665 non-null    object
 3   school_code     665 non-null    object
 4   school_name     665 non-null    object
 5   sbe_region      665 non-null    object
 6   grade_span      665 non-null    object
 7   title_1         113 non-null    object
 8   missed_days     665 non-null    float64
 9   subgroup        665 non-null    object
 10  spg_grade       662 non-null    object
 11  spg_score       572 non-null    float64
 12  ach_score       572 non-null    float64
 13  eg_score        559 non-null    float64
 14  eg_status       559 non-null    object
 15  eg_index        559 non-null    float64
dtypes: float64(5), int64(1), object(10)
memory usage: 88.3+ KB

In [89]:
schools_df_all.reporting_year.unique()

array([2019])

In [94]:
schools_df_all = schools_df_all.drop(['reporting_year'], axis=1)